#request-list {
    overflow-y: scroll;
    display:block;
    height:300px;
}

#requestTable th{
    //position:fixed;
}

#responseContents-div {
    border: 2px solid #a1a1a1;
    padding: 20px; 
    background: #dddddd;
    //width: 800px;
    overflow-y: scroll;
    display:block;
    height:620px;
    white-space: pre; 
    font-family: monospace;
}

#requestTable tr.normal td {
    color: #235A81;
    background-color: white;
}
#requestTable tr.highlighted td {
    color: #FFFFFF;
    background-color: #235A81;
}

#Payload {
    height: 10em;
    width: 70%;
    padding: 3px;
    transition: all 0.5s ease;
}

#Payload:focus{
    height: 45em;
}

html,body{
    height: 100%;
}

body.wait, body.wait *{
    cursor : wait !important;   
}

pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: blue; }
.number { color: blue; }
.boolean { color: blue; }
.null { color: blue; }
.key { color: black; }
